*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100vw;
}
.nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: #0b3b94;
}
.navv{
    display: flex;
    gap: 30px;

}
h1{
    font-size: xx-large;
    display: flex;
    justify-content: center; 
    text-align: center;
    align-items: center;
}