*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}
h1{
  padding: 30PX;
  width: 450px;
  background-color: #222;
  border-radius: 5px;
  margin: 30px;
}
button{
  padding: 30PX; 
  background-color: #222;
  border-radius: 5px;
  margin: 30px;
}