*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}
html, body{
  height: 100%;
  width: 100%;
}
.card{
  background-color: green;
  padding: 50px;
  margin: 20px;
}
#nav{
  padding: 20px;
  margin: 3px;
  background-color: seashell;
}
#nav li {
 display: flex;
 justify-content: space-between;
}
#heading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}